{{{ body}}}
    
 
        <form class="product" action="add-product" method="POST">
            <div class="form-control">
                <label for="name">Product name</label> 
                    <input type="text" name="product" id="name">
                    <button type="submit">Add Product</button> 
            </div>
            
        </form>
        
