extends layouts/main-layout.pug

block styles
        link(rel="stylesheet", href="/css/product.css")
block content
    .grid
            if prods.length > 0      
                each product in prods
                    article.card_product_item
                        header.card_header
                            h1.product_title #{product.product}
                        div.card_image
                            img(src="https://knowledgequest.aasl.org/wp-content/uploads/2015/01/books.png", alt="A Book")
                        div.card_content
                            h2.product_price $199.99
                            p.product_description A very interesting product
                        .card_action    
                            button.btn Add to Cart
            else
                h1 No Products                    
    